<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css"
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div><strong>Airline: </strong><%= flight.airline %></div>
    <div><strong>Airport: </strong><%= flight.airport %></div>
    <div><strong>Flight Number: </strong> <%= flight.flightNo %></div>
    <div><strong>Departure Date: </strong> <%= flight.departs %></td></div>
  </section>
  <a href="/flights/<%= flight._id %>/edit">
    <button id="edit-btn">Edit Flight Details</button>
  </a>
  <form id="add-meal-to-flight" action="/flights/<%=flight._id%>/meals" method="POST">
    <select name="mealId">
      <% meals.forEach(meal => { %>
        <option value="<%= meal._id %>"><%= meal.name %></option> 
      <% }) %>
    </select>
    <button type="submit">Add to Flight</button>
  </form>
  <h3>Meals</h3>
  <ul>
    <% flight.meals.forEach(meal => { %> 
      <li> <%= meal.name %> </li>
    <% }) %> 
  </ul>
  <h3>Tickets</h3>
  <form
  id="add-ticket-form"
  action="/flights/<%= flight._id %>/tickets "
  method="POST"
  >
  <label for="seat">Seat:</label>
  <input type="text" name="seat" id="seat-input" required pattern="[A-F][1-9]\d?">
  <label for="price">Price:</label>
  <input type="number" name="price" id="price-input">
  <button type="submit">Save Ticket</button>
</form>
<% if (flight.tickets.length) { %>
  <table>
    <h2>Saved Tickets</h2>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% flight.tickets.forEach(function(ticket) { %>
        <tr>
          <td><%= ticket.seat %></td>
          <td>$<%= ticket.price %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h3>No Reviews Yet</h3>
<% } %>
</main>

<%- include('../partials/footer') %>